*{
    margin: 0;
}
body{
    margin: 0;
    height: 100vh;
    background: url(/assets/image/vecteezy_a-winding-racetrack-under-a-vibrant-sunset-sky-in-a-serene_51128264.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#score-box{
    width: 150px;
    height: 70px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.road{
    background-color: black;
    border-left: 8px #e0e0e0 dashed;
    border-right: 8px #e0e0e0 dashed;
    position: absolute;
    margin: auto;
    width: 25%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}

/* .line{
    background-color: #bdbdbd;
    margin: auto;
    width: 6px;
    height: 150px;

    position:absolute;
    left: 0;
    right: 0;
}

#line1{
    top: -150px;
}

#line2{
    top: 150px;
}

#line3{
    top: 450px;
} */

.car{
    position: absolute;
    transform: rotateZ(180deg);
    width: 30px;
}

#car{
    position: absolute;
    width: 30px;
    bottom: 5%;
    right: 50px;
}

#car1{
    top: -110px;
    left: 60%;
}

#car2{
    top: -310px;
}

#car3{
    top: -410px;
    left: 50%;
}

#btn-play{
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#play {
    padding-top: 3%;
    cursor: pointer;
}

#btn-replay {
    margin-top: 35px;
    cursor: pointer;
}

#game-over-box{
    display: none;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 20%;
    overflow: hidden;
}

.score-box {
    color: white;
    margin-top: 25px;
    text-shadow: 1px 1px 3px black;
}

#btn-replay {
    margin-top: 35px;
    cursor: pointer;
}

#final-score{
    color: red;
}

#High-score{
    color: blue;
}
